.conhecimento{
  background: var(--preto-100);
  color: var(--branco-100);

}

.conhecimento-container{
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.conhecimento .subtitulo{
  color: var(--preto-200); 
}